    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        line-height: 1.5;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }
    
    p {
        margin: 0;
    }
    
     :root {
        --taskbar: rgb(0, 0, 9);
        --border-test: ;
        --border-img: rgb(1, 9, 1) solid 6px;
    }
    
    header {
        border: var(--border-test);
        padding: 16px;
        background-color: var(--taskbar);
        color: #100000;
        position: sticky;
        width: 100%;
        top: 0px;
    }
    
    .owner-name {
        border: var(--border-test);
        display: inline-block;
        height: 52px;
        width: fit-content;
        margin-top: 5px;
        margin-left: 5px;
        background-color: rgb(97, 118, 144);
    }
    
    .owner-name h1 {
        display: inline-block;
        color: rgb(122, 188, 198);
        font-size: 48px;
        ;
    }
    
    header nav {
        border: var(--border-test);
        padding-top: 2px;
        margin-right: 20px;
        float: right;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }
    
    header nav ul {
        list-style-type: none;
    }
    
    header nav ul li {
        display: inline-block;
    }
    
    nav ul li a {
        padding-left: 50px;
        color: rgb(96, 191, 208);
        text-decoration: none;
        ;
    }
    
    .hero-banner {
        border: var(--border-test);
        background-image: url("../images/img11.jpg");
        height: 250px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-end;
        align-content: stretch;
    }
    
    #subtitle {
        border: var(--border-test);
        height: 40px;
        width: fit-content;
        background-color: rgb(97, 118, 144);
    }
    
    .page-wrapper {
        border: var(--border-test);
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: min-content max-content min-content;
        gap: 20px 20px;
        grid-auto-flow: row;
        grid-template-areas: "about-me" "contents" "page-section-contact";
    }
    
    .about-me {
        border: var(--border-test);
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: min-content max-content;
        grid-template-columns: 25% 75%;
    }
    
    .contents {
        border: var(--border-test);
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: min-content max-content;
        grid-template-columns: 2% 98%;
    }
    
    .page-section-contact {
        border: var(--border-test);
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: min-content max-content;
        grid-template-columns: 25% 75%;
    }
    
    .page-wrapper h2 {
        font-size: 60px;
        display: flex;
        justify-content: center;
    }
    
    #pic1 {
        background-image: url("../images/fish.jpg");
        width: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    /*section.grid {
        border: var(--border-test);
        display: grid;
        grid-template-columns: 25% 75%;
    }
    
    h2 {
        text-align: center;
    }
    
    img {
        border: var(--border-test);
        width: 100%;
    }
    
    hr {
        border: 1px solid #150b8c;
    }
    
    .row {
        display: flex;
        justify-content: space-around;
    }
    
    .col-left {
        width: 25%;
    }
    
    .col-medium {
        width: 50%;
    }
    
    .col-big,
    .col-medium {
        border: 10px solid rgb(4, 130, 126);
        margin: 5px;
    }*/
    
    #my-cont {
        border: var(--border-test);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: var(--taskbar);
    }
    
    #my-cont a {
        color: aliceblue;
        padding-left: 50px;
        text-decoration: none;
        margin-right: 40px;
    }
    
    #categoryGrid {
        margin: 0px 5%;
        display: grid;
        grid-template-rows: 800px 400px 400px;
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-areas: "bookcases desks desks" "bookcases bedroom patio" "bookcases couches apus";
    }
    
    #bookcases {
        grid-area: bookcases;
    }
    
    #bedroom {
        grid-area: bedroom;
        background-image: url("../images/masrum.jpg");
    }
    
    #couches {
        grid-area: couches;
        background-image: url("../images/fish.jpg");
    }
    
    #patio {
        grid-area: patio;
        background-image: url("../images/cactus.jpg");
    }
    
    #desks {
        grid-area: desks;
        background-image: url("../images/peste.jpg");
    }
    
    #apus {
        grid-area: desks;
        background-image: url("../images/oscar.jpg");
    }
    
    .categoryGridArea {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 5px;
        cursor: pointer;
        display: grid;
        align-content: end;
    }
    
    .heading {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 15px;
        height: 25px;
        color: white;
        font-size: 18px;
    }